[Unit]
Description=X1C-Actively-Heated-Chamber Python3 Startup Service
After=local-fs.target network.target

[Service]
WorkingDirectory=/root/
User=root
Type=forking

ExecStart=/usr/bin/python3 app.py

[Install]
WantedBy=multi-user.target