<!DOCTYPE html>
<html>
<head>
    <title>Temperature Control</title>
    <!-- Add Material Design CSS here -->
</head>
<body style="background-color: #121212;">
    <h1><span style="color: red;">Temperature: </span><span id="temperature" style="color: red;"></span></h1>
    <h1><span style="color: red;">Humidity: </span><span id="humidity" style="color: red;"></span></h1>
    <input type="number" id="set_temp" placeholder="Set Temp">
    <button onclick="setTemperature()">Set Temp</button>
    <button onclick="stopRelay()">Stop</button>
    <input type="text" id="set_timer" placeholder="HH:MM">
    <button onclick="setTimer()">Set Timer</button>
    <button onclick="resetTimer()">Reset</button>

    <script>
        function updateSensorData() {
            fetch('/get_sensor_data').then(response => response.json()).then(data => {
                document.getElementById('temperature').innerText = data.temperature;
                document.getElementById('humidity').innerText = data.humidity;
            });
        }

        function stopRelay() {
            fetch('/stop_relay');
        }

        function setTemperature() {
            const temp = document.getElementById('set_temp').value;
            fetch('/set_temp', {
                method: 'POST',
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                body: `set_temp=${temp}`
            });
        }

        function setTimer() {
            const time = document.getElementById('set_timer').value;
            fetch('/set_timer', {
                method: 'POST',
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                body: `time=${time}`
            });
        }

        function resetTimer() {
            fetch('/reset_timer');
        }

        setInterval(updateSensorData, 3000);
    </script>
</body>
</html>
